.place__title {
  grid-area: title;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1;
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 1.1;
    font-size: 2.625rem;
  }
}


@media screen and (max-width: 425px) {
  .place__title {
    font-size: 2rem;
    max-width: 288px;
    line-height: 1.1;
    padding: 0 16px;
  }
}
