.footer__links {
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: flex;
}

@media screen and (max-width: 726px) {
  .footer__links {
    margin-bottom: 48px;
    flex-direction: column;
  }
}
