.place__paragraph {
  outline: solid red 1px;
  grid-area: paragraph;
  font-family: Inter-Regular;
}

@media screen and (min-width: 425px) and (max-width: 900px) {
  .place__paragraph {
    font-size: 1rem;
  }
}


@media screen and (max-width: 425px) {
  .place__paragraph {
    font-size: 1rem;
  }
}

