.place__paragraph {
  grid-area: paragraph;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .place__paragraph {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
  }
}


@media screen and (max-width: 420px) {
  .place__paragraph {
    max-width: 288px;
    padding-left: 16px;
    margin-bottom: 48px;
  }
}
