.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.63;
  margin: 0 auto 32px 0;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__text {
  max-width: 720px;
  }
}


@media screen and (max-width: 370px) {
  .intro__text {
    max-width: 288px;
  }
}
