@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);

 .cover {
  position: relative;
  max-width: 1184px;
  min-width: 320px;
  max-height: 740px;
  min-height: 200px;
  width: 92.5vw;
  color: white;
  margin-bottom: 92px;
}


 @media screen and (min-width: 425px) and (max-width: 1024px) {
  .cover {
   width: 100vw;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .cover {
   width: 100vw;
   margin-bottom: 88px;
  }
}


@media screen and (max-width: 425px) {
  .cover {
    width: 100vw;
    margin-bottom: 64px;
  }
}
