.place__website {
  grid-area: web;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

@media screen and (max-width: 550px) {
  .place__website {
    display: none;
  }
}
